
<p>
  <strong>nom:</strong>
  <%= @user.nom %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Back', users_path %>
